{% extends "base.html" %}



{% block content %}

        <div class="col-md-2">


        </div>
        <div class="col-md-7">
            <div class="article_list">

                  {% for article in article_list %}
                       <div class="article_item">
                               <div class="row">
                                   <div class="title">
                                       <a href="">{{ article.title }}</a>
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="img"><a href="/blog/{{ article.blog.user.username }}"><img src="{{ article.blog.user.avatar.url }}" width="60px" height="60px"></a></div>
                                   <div class="text">{{ article.desc }}</div>
                               </div>
                               <div class="row">
                                   <div class="icon">
                                       <span><a href="/blog/{{ article.blog.user.username }}">{{ article.blog.user.username }}</a> 发布于</span>
                                       <span class="timer">{{ article.create_time|date:"Y-m-d" }}</span> &nbsp;&nbsp;
                                       <span class="glyphicon glyphicon-comment"></span>&nbsp;<a href="">评论{{ article.comment_count }}</a>
                                       <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;<a href="">赞{{ article.up_count }}</a>
                                   </div>
                               </div>
                            </div>
                  {% endfor %}










            </div>




        </div>


{% endblock %}

{% block others %}
            <div class="panel panel-primary">
                  <div class="panel-heading">Panel heading without title</div>
                  <div class="panel-body">
                   <p>111</p>
                   <p>111</p>
                   <p>111</p>
                  </div>
                </div>

            <div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                   <p>111</p>
                   <p>111</p>
                   <p>111</p>
              </div>
            </div>


             <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                <p>111</p>
                   <p>111</p>
                   <p>111</p>
              </div>
            </div>
{% endblock %}