{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

    <style>

        .container{
            margin-top: 80px;
        }


        .valid_img{
            width: 150px;
            height: 40px;

        }
    </style>
</head>
<body>

{{ func }}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
             <form>

                 {% csrf_token %}
              <div class="form-group">
                <label for="user">用户名</label>
                <input type="text" class="form-control" id="user" placeholder="username">
              </div>

              <div class="form-group">
                <label for="pwd">密码</label>
                <input type="password" class="form-control" id="pwd" placeholder="Password">
              </div>

               <div class="form-group">
                <label for="valid_code">验证码</label>
                <div class="row">
                    <div class="col-md-6">
                     <input type="text" class="form-control" id="valid_code" placeholder="valid_code" name="valid">
                    </div>
                    
                    <div class="col-md-6">
                        <img src="/valid_code/" alt="" class="valid_img">
                        <a class="refresh">刷新</a>
                    </div>
                </div>

              </div>


                 <div class="col-md-6">
                      <input type="button" value="submit" class="submit_login">
                      <span class="error"></span>
                 </div>
                 <div class="col-md-6">
                     <a href="/reg/"> <input type="button" value="submit" class="submit_login"></a>
                 </div>


            </form>
        </div>
    </div>
</div>





<script>
       // 验证码的刷新
       $(".refresh").click(function () {

           $(".valid_img")[0].src+="?"

       })



      // ajax登录验证

     $(".submit_login").click(function () {

         var username=$("#user").val();
         var password=$("#pwd").val();
         var valid_code=$("#valid_code").val();
         var csrf=$("[name='csrfmiddlewaretoken']").val();


         $.ajax({
             url:"/login/",
             type:"POST",
             data:{"username":username,"password":password,"valid_code":valid_code,"csrfmiddlewaretoken":csrf},

             success:function (data) {
                 console.log(data);

                 data=JSON.parse(data);

                 if (data["user"]){
                     location.href="/"

                 }
                 else {
                     $(".error").text(data["errors"]).css({"color":"red","margin-left":"20px"})

                 }
             }

         })


     })

</script>
</body>
</html>