{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>


</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
             <form>

              {% csrf_token %}
              <div class="form-group">
                <label for="id_username">用户名</label>
                  {{ form_obj.username }} <span></span>
              </div>

              <div class="form-group">
                <label for="pwd">密码</label>
                  {{ form_obj.password }}
              </div>

              <div class="form-group">
                <label for="repeat_pwd">确认密码</label>
                  {{ form_obj.repeat_password }}
              </div>

              <div class="form-group">
                <label for="email">邮箱</label>
                  {{ form_obj.email }}
              </div>



              <div class="form-group file_avatar">

                <label for="email">头像</label>
                <img src="{% static 'img/default.png' %}" alt="" id="file_img" class="sol">
                <input type="file" id="file_choose" class="sol">

              </div>



               <div class="form-group">
                <label for="valid_code">验证码</label>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_obj.valid_code }}
                    </div>
                    
                    <div class="col-md-6">
                        <img src="/valid_code/" alt="" class="valid_img">
                        <a class="refresh">刷新</a>
                    </div>
                </div>

              </div>


                 <div class="col-md-6">
                      <input type="button" value="注册" class="submit_reg">
                 </div>


            </form>
        </div>
    </div>
</div>





<script>
       // 验证码的刷新
       $(".refresh").click(function () {

           $(".valid_img")[0].src+="?"

       });

      // 头像预览

       $("#file_choose").change(function () {


           var reader=new FileReader();

           var first_file=$(this)[0].files[0];   // 上传文件对象

           reader.readAsDataURL(first_file);


           reader.onload=function () {
               $("#file_img")[0].src=this.result
           }


       });




      // ajax注册验证

      $(".submit_reg").click(function () {


         var username=$("#id_username").val();
         var password=$("#id_password").val();
         var repeat_password=$("#id_repeat_password").val();
         var email=$("#id_email").val();
         var valid_code=$("#id_valid_code").val();

         var csrf=$("[name='csrfmiddlewaretoken']").val();

          var formData=new FormData();

          formData.append("username",username);
          formData.append("password",password);
          formData.append("repeat_password",repeat_password);
          formData.append("email",email);
          formData.append("valid_code",valid_code);
          formData.append("csrfmiddlewaretoken",csrf);

          // 组装文件对象
          formData.append("img",$("#file_choose")[0].files[0]);


           $.ajax({

             url:"/reg/",
             type:"POST",
             data:formData,
             processData: false,      // 使用formdata,processData,contentType必须设为false
             contentType: false,
             success:function (data) {
                 data=JSON.parse(data);

                 if(data["flag"]){
                     location.href="/login/"
                 }

                 else {
                     var  errors_dict=data["errors"] ;// {"username":[],}

                     for (var i in errors_dict){

                         $("#id_"+i).next().text(errors_dict[i])

                     }

                 }


             }

         })

      })






</script>
</body>
</html>